.filter-div {
    border-width: 32px;
    left: 20px;
    top: 188px;
    width: 100;
    height: 48px;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    padding-top: 10px;
}

.filter-div .more-link-div {
    display: inline;
    padding-top: 14px;
    padding-left: 10px;
    color:rgb(0, 133, 200);
    font-size: 13px;
    cursor: pointer;
}

.filter-input {
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(161, 161, 161, 1);
    border-radius: 4px;
    width: 186px;
    height: 30px;
}

::placeholder {
    width: 170px;
    height: 24px; 
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #999999;
    text-align: left;
    border-color: transparent;
    outline-style: none;
    padding-left: 12px;
    font-family: 'Open Sans';
}

:-ms-input-placeholder {
    width: 170px;
    height: 24px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #999999;
    text-align: left;
    border-color: transparent;
    outline-style: none;
    padding-left: 12px;
    font-family: 'Open Sans';
}

::-ms-input-placeholder {
    width: 170px;
    height: 24px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #999999;
    text-align: left;
    border-color: transparent;
    outline-style: none;
    padding-left: 12px;
    font-family: 'Open Sans';
}
.filter-table-div {
    z-index: 1;
    position: absolute;
    left: 31px;
    top: 315px;
    width: 1108px;
    height: 232px;
    background: inherit;
    background-color: rgba(250, 250, 250, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(201, 201, 201, 1);
    border-top: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 20px;
    padding-left: 40px;
    
}

.date-control>.form-control {
    left : 36px !important;
    top: 0px !important;
    width:100px !important;
    height: 30px !important;
    background: inherit !important;
    background-color: rgba(255, 255, 255, 1) !important;
    box-sizing: border-box !important;
    border-width: 1px !important;
    border-style: solid;
    border-color: rgba(153, 153, 153, 1) !important;
    border-radius: 3px ;
    display: inline;
}
.rdt {
    display: inline;
}

.filter-div>.checkBox-div>.resetButton:hover {
     background-color: #d4d4d4 !important;
}