.counter-ct {
    width: 30px;
    position: relative;
}

.counter-img {
    width: 30px;
    height: 26px;
}

.counter1, .counter2, .counter3 {
    color: white;
    position: absolute;
    line-height: 12px;
    bottom: 0px;
}
.counter1  {
    font-size: 10px;
    right: 8px;
}
.counter2  {
    font-size: 10px;
    right: 5px;
}
.counter3  {
    font-size: 8px;
    right: 4px;
}

.popover-menu {
    width: 100px;
    font-weight: 600;
    padding: 5px;
    line-height: 25px;
    z-Index: 0;
}

.popover-menu i {
    line-height: 25px;
    height: 25px;
}

.events-popover .arrow {
    top: 26px !important;
}

.transaction-id-popover .arrow {
    left: 50px !important;
}

.dispute-transation-div {
    border-color: rgba(253, 253, 253, 1) !important;
    padding: 0px !important;
    background: rgba(253, 253, 253) !important;
    left: 1194.66px !important;
    top: -129px !important;
    position: relative;
    color: #0085C8;
    width: 157px;
    padding-top:8px;
    padding-left:5px;
    background-color: transparent;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
}

.dispute-transation-img {
    position: relative;
    left: 21%;
    transform: translate(-12%, -50%);
    color: #0085C8;
    width: 157px;
    padding-left:5px;
    font-family: 'Open Sans';
    margin-top: -22px;
}
.dispute-transation-img:hover {
     background-color: #dff3f8;
}

.dispute-counter {
    position: relative;
    bottom: 66px;
    padding-left: 23px;
    font-family: 'Open Sans Bold','Open Sans Regular','Open Sans';
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    color: #FFFFFF;
    top: -24px;
    right: 12px;
}