.counter-ct {
    width: 30px;
    position: relative;
}

.counter-img {
    width: 30px;
    height: 26px;
}

.counter1, .counter2, .counter3 {
    color: white;
    position: absolute;
    line-height: 12px;
    bottom: 0px;
}
.counter1  {
    font-size: 10px;
    right: 8px;
}
.counter2  {
    font-size: 10px;
    right: 5px;
}
.counter3  {
    font-size: 8px;
    right: 4px;
}

.popover-menu {
    width: 100px;
    font-weight: 600;
    padding: 5px;
    line-height: 25px;
    z-Index: 0;
}

.popover-menu i {
    line-height: 25px;
    height: 25px;
}

.events-popover .arrow {
    top: 26px !important;
}

.transaction-id-popover .arrow {
    left: 50px !important;
}

.dispute-transation-div {
    height: 39px;
    width: 145px;
    padding-top: 10px;
    padding-left: 8px;
    color:#0085C8;
}
 
.dispute-transation-div:hover {
     background-color: #dff3f8;
}

.dispute-counter {
    position: relative;
    bottom: 66px;
    padding-left: 23px;
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    color: #FFFFFF;
    top: -24px;
    right: 12px;
}

.action-popover {
    border-color: #bcbcbc !important;
    border-radius: 0px;
    height: 48px;
}

.action-popover .arrow {
    top: 35% !important;
}

.action-popover.right>.arrow:after {
    border-right-color:white;
}

.popover .popover-content {
    padding: 4px 4px !important;
}

.popover.right>.arrow {
    left: -10px !important;
    margin-top: -13px;
}

.dispute-action-popover {
    border-color: #bcbcbc !important;
    border-radius: 0px;
    height: 48px;
}

.dispute-action-popover .arrow {
    top: 50% !important;
}

.dispute-action-popover.right>.arrow:after {
    border-right-color: white;
}