.counter-ct {
    width: 30px;
    position: relative;
}

.counter-img {
    width: 30px;
    height: 26px;
}

.counter1, .counter2, .counter3 {
    color: white;
    position: absolute;
    line-height: 12px;
    bottom: 0px;
}
.counter1  {
    font-size: 10px;
    right: 8px;
}
.counter2  {
    font-size: 10px;
    right: 5px;
}
.counter3  {
    font-size: 8px;
    right: 4px;
}

.popover-menu {
    width: 100px;
    font-weight: 600;
    padding: 5px;
    line-height: 25px;
    z-Index: 0;
}

.popover-menu i {
    line-height: 25px;
    height: 25px;
}

.events-popover .arrow {
    top: 26px !important;
}

.transaction-id-popover .arrow {
    left: 50px !important;
}
